* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 15px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    background-color: #E5E5E5;
    color: #545454;
}

h1, p, span, hr, button {
    margin: 0;
    padding: 0;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

main {
    margin: 40px auto;
    background-color: #fff;
    max-width: 570px;
}

.content {
    padding: 36px 36px 16px 36px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #1C1C1C;
}

label {
    letter-spacing: -0.2px;
}

/* Input Style */

div.name, div.country-city {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

[type="text"] {
    width: 245px;
    height: 38px;
    margin-top: 7px;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    padding: 15px;
    font-size: 15px;
    color: #545454;
}

[type="email"] {
    width: 100%;
    height: 38px;
    margin-top: 7px;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    padding: 15px;
    font-size: 15px;
    color: #545454;
}

/* CUSTOM RADIO STYLE */

.radio {
    margin: 20px auto;
}

[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.gender-type {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 28px;
    margin: 20px 21px 20px 0;
}

.gender-type input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 50%;
}

.gender-type input:checked ~ .radio-custom {
    background-color: #007BFF;
    border: 1px solid transparent;
}

.radio-custom::after {
    content: "";
    position: absolute;
    display: none;
}

.gender-type input:checked ~ .radio-custom::after {
    display: block;
}

.gender-type .radio-custom::after {
    top: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #fff;
}

#country {
    width: 245px;
    height: 38px;
    margin-top: 7px;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    font-size: 15px;
    font-family: Inter, Arial, sans-serif;
    letter-spacing: -0.2px;
    font-weight: 400;
    line-height: 22px;
    color: #545454;
}

button {
    width: 100%;
    height: 38px;
    margin-top: 20px;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    background: #007BFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    cursor: pointer;
}

.text-color {
    display: inline-block;
    margin-top: 7px;
    color: #969696;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    text-align: center;
}

p.policy, div.morelinks {
    margin: 20px auto;
    text-align: center;
    max-width: 410px;   
}

.policy-links {
    font-family: 'Inter', Arial, sans-serif;
    color: #007BFF;
    text-decoration: none;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
}

.account-link, .login-link {
    text-decoration: none;
    letter-spacing: -0.2px;
}

.account-link:hover, .login-link:hover, .policy-links:hover {
    text-decoration: underline;
}

.account-link {
    color: #545454;
    margin-right: 20px;
}

.login-link {
    color: #007BFF;
}

hr {
    height: 1px;
    border-width: 0;
    background-color: #e4e4e4;
}